<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>网盘</title>
    <link href="./css/reset.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <script src="./js/function.js"></script>
    <script src="./js/vue/2.5.21/vue.min.js"></script>
    <script src="./js/icon/dir.js"></script>
    <script src="./js/icon/file.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>

<body>
    <div id="darkpane1" class="darkpane none-select" :style="dkp1Style">
        <div class="addDirPane" :style="adpStyle">
            <span class="title1">新建文件夹</span><i @click="close()" class="fa fa-close fa-1x close none-select"></i>
            <div class="sep"></div>
            <input type="text" v-model="dirname" class="input_dn" @keydown.enter="mkdir()">
            <button class="btn" style="margin: 35px 125px;" @click="mkdir()">确定</button>
        </div>
    </div>
    <nav class="header" id="nav-header">
        <ul>
            <li class="h-item h-main"><i class="fa fa-cloud fa-1x"></i>{{title}}</li>
        </ul>
    </nav>
    <div class="bar" id="left-bar" :style="style">
        <ul>
            <li class="bar-item none-select itemActive" @click="changeItem(0)"><i class="fa fa-file fa-2x"></i>&emsp;{{item1}}</li>
            <li class="bar-item none-select" @click="changeItem(1)"><i class="fa fa-user-circle fa-2x"></i>&emsp;{{item2}}</li>
            <li class="bar-item none-select" @click="changeItem(2)"><i class="fa fa-chevron-circle-left fa-2x"></i>&emsp;{{item3}}</li>
        </ul>
    </div>
    <div class="pane" id="pane" :style="paneStyle">
        <div class="pane-row none-select">
            <button class="btn"><i class="fa fa-cloud-upload fa-1x"></i>{{btn1_text}}</button>
            <button class="btn" @click="showDNPane()"><i class="fa fa-plus-circle fa-1x"></i>{{btn2_text}}</button>
        </div>
        <div class="pane-row none-select" style="margin-left:20px;">
            <span class="returnDir" @click="update('/')"><i class="fa fa-reply fa-1x"></i> 返回根目录</span>丨
            <span class="ind" v-for="(n, index) in getPaths()" @click="cdTo(index)">{{">" + n}} </span>
        </div>
        <div class="pane-row none-select" id="table-pane" :style="tableStyle">
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th>文件名</th>
                        <th>大小</th>
                        <th>类型</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <tr v-for="(d,index) in tableData" @dblclick="trDBClick(index)">
                        <td>{{d.name}}</td>
                        <td>{{d.size}}</td>
                        <td :class="{colorFile:d.isFile, colorDir:!d.isFile}">
                            <svg class="icon" aria-hidden="true" v-if="!d.isFile">
                                <use xlink:href="#icon-folder__easyi"></use>
                            </svg>
                            <svg class="icon" aria-hidden="true" v-else-if="d.isFile">
                                <use xlink:href="#icon-wenjian-"></use>
                            </svg>
                            {{d.filetype}}</td>
                        <td v-if="d.isFile == true">
                            <span><i class="fa fa-cloud-download fa-1x" @click="download(index)"></i></span>
                        </td>
                        <td v-else></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>