body {
  padding: 0;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

td,
th {
  height: 55px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

th {
  color: rgb(83, 190, 142);
}

tr {
  border-bottom: 1px solid rgb(235, 235, 235);
}

tr:hover {
  background-color: rgb(83, 218, 157);
  color: white;
}

tr:hover th {
  color: white;
}

tr:hover td {
  color: white;
}

td {
  font-family: "Microsoft YaHei", "serif";
  color: rgb(100, 100, 100);
}

span {
  cursor: pointer;
}

input {
    outline: none;
}

.header {
  height: 70px;
  width: 100%;
  background-color: rgb(83, 190, 142);
}

.h-item {
  color: white;
  margin: 0;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
}

.h-main {
  font-size: 30px;
  width: 250px;
}

.h-other {
  width: 150px;
  font-size: 20px;
}

.bar {
  top: 0;
  margin: 0;
  display: inline-block;
  width: 250px;
  background-color: rgb(83, 190, 142);
  left: 0;
}

.bar-item {
  display: inline-block;
  width: 250px;
  height: 80px;
  background-color: rgb(83, 190, 142);
  text-align: center;
  line-height: 80px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.bar-item:hover {
  background-color: rgb(45, 209, 135);
}

.itemActive {
  background-color: rgb(25, 223, 134);
}

.btn {
  width: 100px;
  height: 40px;
  background-color: rgb(45, 209, 135);
  border-radius: 5px;
  margin: 0;
  padding: 5px;
  outline: none;
  border: 1px solid transparent;
  font-size: 14px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.btn:hover {
  background-color: rgb(39, 228, 143);
}

.pane {
  display: inline-block;
  background-color: white;
  position: absolute;
  margin: 0 auto;
}

.pane-row {
  width: 98%;
  margin: 20px auto;
  overflow: auto;
}
.ind {
  margin-left: 20px;
  font-weight: bold;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-family: "Microsoft YaHei", "serif";
  color: rgb(0, 119, 26);
}

.ind:hover {
  color: rgb(158, 6, 6);
}

.returnDir {
  margin-left: 20px;
  font-weight: bold;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-family: "Microsoft YaHei", "serif";
  color: rgb(179, 46, 46);
}

.returnDir:hover {
  color: rgb(255, 0, 0);
}

.colorDir {
  color: rgb(183, 185, 25);
}

.colorDir:hover {
  color: white;
}

.colorFile {
  color: rgb(8, 44, 141);
}

.colorFile:hover {
  color: white;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.darkpane {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0;
  z-index: 100;
  position: absolute;
}

.window {
  width: 350px;
  height: 200px;
  margin: 0;
  padding: 10px;
  position: relative;
  left: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px  rgb(111, 111, 111);
}

.none-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.close {
  float: right;
  cursor: pointer;
}

.title {
  display: inline-block;
  color: rgb(66, 66, 66);
  font-weight: bold;
  font-family: 'Microsoft YaHei','SF Pro Display',Roboto,Noto,Arial,'PingFang SC',sans-serif;
}

.sep {
  height: 2px;
  background-color: rgb(192, 192, 192);
  width: 100%;
  margin: 5px auto;
}

.input_dn {
    height: 30px;
    width: 250px;
    margin-left: 50px;
    margin-top: 35px;
    font-size: 18px;
    padding: 2px;
    font-family: 'Microsoft YaHei','SF Pro Display',Roboto,Noto,Arial,'PingFang SC',sans-serif;
    font-weight: bold;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
}

.input_dn:focus {
    border: 1px solid rgb(45, 209, 135);
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgb(45, 209, 135);
}

